* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4f4f4;
}

.button1,
.button2,
.button3 {
    color: white;
    border: 0;
}

.button4,
.button5,
.button6 {
    color: white;
    border: none;
    border-radius: 5px;
}

.button7,
.button8,
.button9 {
    color: black;
    background-color: #f4f4f4;
}
.button10,
.button11,
.button12 {
    border-radius: 5px;
}
.button7:hover{
    background-color:rgb(26, 211, 26) ;
}
.button8:hover{
    background-color: rgb(248, 0, 0);
}
.button9:hover{
    background-color: rgb(26, 91, 211);
}
.button10:hover{
    background-color:rgb(255, 210, 7) ;
}
.button11:hover{
    background-color:rgb(244, 248, 0);
}
.button12:hover{
    background-color: rgb(112, 112, 112);
}

.button1 {
    padding: 15px 25px;
    background-color: rgb(26, 211, 26);
}

.button2 {
    padding: 10px 20px;
    background-color: rgb(248, 0, 0);
}

.button3 {
    padding: 5px 10px;
    background-color: rgb(26, 91, 211);
}

.button4 {
    padding: 15px 25px;
    background-color: rgb(255, 210, 7);
}

.button5 {
    padding: 10px 20px;
    background-color: rgb(244, 248, 0);
}

.button6 {
    padding: 5px 10px;
    background-color: rgb(112, 112, 112);
}

.button7 {
    padding: 15px 25px;
    border-color: rgb(26, 211, 26);
}

.button8 {
    padding: 10px 20px;
    border-color: rgb(248, 0, 0);
    
}

.button9 {
    padding: 5px 10px;
    border-color: rgb(26, 91, 211);
}
.button10 {
    padding: 15px 25px;
    border-color: rgb(255, 210, 7);
}

.button11{
    padding: 10px 20px;
    border-color: rgb(244, 248, 0);
    
}

.button12 {
    padding: 5px 10px;
    border-color: rgb(112, 112, 112);
}