:root{
    --primary-color:black;
    --hover-color:rgba(180, 178, 70, 0.5);
    --secondary-color:rgba(70, 131, 180, 0.75);
    --overlay-color:rgba(128, 128, 128, 0.445);
    --hamburger-color:rgba(70, 131, 180, 1);
}