body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: none;
  color: black;
}

.landing-page{
  height: 100vh;
  background:url(/pexels-francesco-ungaro-2325446.jpg)no-repeat center center/cover;
}

.container{
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iwm{
  padding:20px 30px ;
  font-size: 2rem;
  background:rgba(250, 250, 210, 0.2);
  border: 2px solid snow;
  border-radius: 10px;
  transform:translateY(50vh);
}
.iwm:hover{
  background:rgba(250, 250, 210, 0.6);
  transition: 0.1s;
}

.clicking a{
  padding: 30px;
  padding-top: 20px;
}

#home-page{
  background: seashell;
  height: 100vh;
}

h1{
 position: relative;
 display: inline;
 left:45%;
 top:80px;
}