.appleseeds-table {
    width: 50vw;
}

.hidden {
    display: none !important;
}

.btn {
    display: inline;
}

.tool-bar {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}