body {
  background: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  justify-content: space-around;
}

/* animation 1 */

.box-1 {
  background: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  border: 3px solid white;
  border-top: 3px double lightgreen;
  animation: rotate 2s linear infinite;
}

/* animation 2 */

.box-2 {
  background: transparent;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  margin-left: 20px;
  position: relative;
  z-index: 10;
}
.box-2::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: -4px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-left: 2px solid lightgreen;
  animation: rotate 1.5s linear infinite;
}

/* Box 3-4 - dots */

.box-3,
.box-4 {
  display: flex;
  position: relative;
}

.dot-1,
.dot-2,
.dot-3 {
  background: lightgreen;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-left: 20px;
  position: absolute;
  top: 0;
  animation: jump 0.5s infinite;
  animation-direction:alternate ;
}

.dot-4,
.dot-5,
.dot-6 {
  background: lightgreen;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  animation: coloring 0.4s infinite;
  animation-direction: alternate;
  animation-delay: 2s;
}

/* positioning fix & delays */

.dot-1 {
  animation-delay: 1s;
}
.dot-2 {
  animation-delay: 2s;
  left: -50px;
}
.dot-3 {
  left: -100px;
  animation-delay: 3s;
}
.dot-5 {
  left: -50px;
}
.dot-6 {
  left: -100px;
}

/*  animate keyframs */

@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes jump {
  100% {
    transform: translateY(-20px);
    background: rgba(13, 219, 192, 0.747);
  }
}

@keyframes coloring {
  100% {
    background: rgba(13, 219, 192, 0.747);
  }
}
